In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\Ali\AppData\Local\Temp\ipykernel_12484\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [4]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [5]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [6]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [7]:
books.duplicated().sum()

0

In [8]:
ratings.duplicated().sum()

0

In [9]:
users.duplicated().sum()

0

In [10]:
ratings_merge = ratings.merge(books,on='ISBN')

In [11]:
x = ratings_merge.groupby('User-ID').count()['Book-Rating'] > 200
users = x[x].index

In [12]:
filtered_rating = ratings_merge[ratings_merge['User-ID'].isin(users)]

In [13]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
book = y[y].index

In [14]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(book)]

In [15]:
pt = final_ratings.pivot_table(index='User-ID',columns='Book-Title',values='Book-Rating')

In [16]:
pt.fillna(0,inplace=True)

In [17]:
pt

Book-Title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Civil Action,A Day Late and a Dollar Short,A Fine Balance,...,Winter Solstice,Wish You Well,Without Remorse,"Wizard and Glass (The Dark Tower, Book 4)",Wuthering Heights,Year of Wonders,You Belong To Me,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zoya,"\O\"" Is for Outlaw"""
User-ID,,,,,,,,,,,,,,,,,,,,,
254,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2766,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
3363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
books[books['Book-Title'].str.contains('Tols', regex=False)]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
16861,0060830719,Great Short Works of Leo Tolstoy,Leo Tolstoy,1967,Perennial,http://images.amazon.com/images/P/0060830719.0...,http://images.amazon.com/images/P/0060830719.0...,http://images.amazon.com/images/P/0060830719.0...
118575,1555972489,Tolstoy's Dictaphone: Technology and the Muse ...,Sven Birkerts,1996,Graywolf Press,http://images.amazon.com/images/P/1555972489.0...,http://images.amazon.com/images/P/1555972489.0...,http://images.amazon.com/images/P/1555972489.0...
165737,8484036472,Ana Karenina / Los cosacos (LeÃ³n Tolstoi: Obr...,LeÃ³n Tolstoi,2000,Edimat Libros,http://images.amazon.com/images/P/8484036472.0...,http://images.amazon.com/images/P/8484036472.0...,http://images.amazon.com/images/P/8484036472.0...
245961,0374980101,Tolstoy,"Henri, Troyat",1980,Octagon Books,http://images.amazon.com/images/P/0374980101.0...,http://images.amazon.com/images/P/0374980101.0...,http://images.amazon.com/images/P/0374980101.0...
263018,0140150919,The Portable Tolstoy (The Viking Portable Libr...,Leo Tolstoy,1978,Penguin Books,http://images.amazon.com/images/P/0140150919.0...,http://images.amazon.com/images/P/0140150919.0...,http://images.amazon.com/images/P/0140150919.0...

In [20]:
user = pt["1984"]
user.head()

User-ID
254     9.0
2276    0.0
2766    0.0
2977    0.0
3363    0.0
Name: 1984, dtype: float64

In [20]:
def crlt(user):
    similar= pt.corrwith(user)
    corrls=pd.DataFrame(similar,columns=["Correlation"])
    corrls.dropna(inplace=True)
    rslt=corrls.sort_values('Correlation',ascending=False).head(5)
    return rslt

In [21]:
crlt(user)

                     Correlation
Book-Title
1984                    1.000000
Animal Farm             0.248634
The Handmaid's Tale     0.235597
Brave New World         0.215325
The Hours : A Novel     0.210213

In [22]:
import pickle
pickle.dump(pt,open('pt.pkl','wb'))

In [23]:
books=books.drop(['ISBN', 'Year-Of-Publication','Publisher','Image-URL-S','Image-URL-M'], axis=1)

In [24]:
books

,Book-Title,Book-Author,Image-URL-L
0,Classical Mythology,Mark P. O. Morford,http://images.amazon.com/images/P/0195153448.0...
1,Clara Callan,Richard Bruce Wright,http://images.amazon.com/images/P/0002005018.0...
2,Decision in Normandy,Carlo D'Este,http://images.amazon.com/images/P/0060973129.0...
3,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,http://images.amazon.com/images/P/0374157065.0...
4,The Mummies of Urumchi,E. J. W. Barber,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...
271355,There's a Bat in Bunk Five,Paula Danziger,http://images.amazon.com/images/P/0440400988.0...
271356,From One to One Hundred,Teri Sloat,http://images.amazon.com/images/P/0525447644.0...
271357,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,http://images.amazon.com/images/P/006008667X.0...
271358,Republic (World's Classics),Plato,http://images.amazon.com/images/P/0192126040.0...
271359,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,http://images.amazon.com/images/P/0767409752.0...

In [28]:
def crlt(user):
    similar= pt.corrwith(user)
    corrls=pd.DataFrame(similar,columns=["Correlation"])
    corrls.dropna(inplace=True)
    rslt=corrls.sort_values('Correlation',ascending=False).head(5)
    return rslt

tahminler=crlt(user)

for i in tahminler.index:
    print(i)

1984
Animal Farm
The Handmaid's Tale
Brave New World
The Hours : A Novel

In [33]:
pt.columns

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)